<body>
<!-- this is interpolation -->
<h1>{{title}}</h1> 
<!-- this is property binding -->
<h1 [style]="color">thus </h1>
<!-- <img [src]="image"/> -->
<!-- this is attribute binding -->
<table  border="2"> 
  <tr><td>dsf;klds</td><td>sdfsd</td><td>sdfsdf</td></tr>
  <tr><td [attr.colspan]="cal">dsf;klds</td><td>dsf</td></tr>
</table>
<!-- this is class binding -->
<button class="btn btn-primary" [class.active]="isActive">click</button><br>
<!-- style binding -->
<button [style.backgroundColor]="isActives ? 'blue' : 'red' ">thsi</button>
<!-- event binding -->
<div (click)="ondiv()">
<button (click)="onsave($event)">save</button>
</div>
<!-- <input [value]="email"  (keyup.enter)="email=$event.target.value;onkeyup()" /> -->
<input [(ngModel)]="email"  (keyup.enter)="onkeyup()" />
<app-courses>loding................</app-courses>


</body>